.signup-main {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-main .signup-container {
  margin-top: 80px;
  display: flex;
  max-width: 100%;
  box-shadow: 12px 10px 10px;
}
.signup-main .signup-container .left-side-signup {
  width: 50%;
  position: relative;
}
.signup-main .signup-container .left-side-signup .left-signup-image {
  width: 100%;
  height: 560px;
}
.signup-main .signup-container .left-side-signup .overlay-signup {
  position: absolute;
  bottom: 100%;
  background-color: #3CAE8B;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.signup-main .signup-container .left-side-signup .overlay-signup .go-back-signup {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}
.signup-main .signup-container .left-side-signup .overlay-signup .welcome-back {
  font-size: 35px;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 50px;
}
.signup-main .signup-container .left-side-signup .overlay-signup .personal-info {
  font-size: 20px;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 0.8;
  padding: 50px;
}
.signup-main .signup-container .left-side-signup .overlay-signup Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 90px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: #3CAE8B;
  color: #fff;
  margin-top: 40px;
  margin-left: -10px;
}
.signup-main .signup-container .left-side-signup .overlay-signup Button:hover {
  background-color: #0171df;
}
.signup-main .signup-container .overlay-signup :not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
.signup-main .signup-container .left-side-signup:hover .overlay-signup {
  bottom: 0;
  height: 100%;
}
.signup-main .signup-container .right-side-signup {
  background-color: #fff;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
  font-family: "Lato", Arial, sans-serif;
}
.signup-main .signup-container .right-side-signup .signup-p {
  font-family: "Lato", Arial, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: rgb(70, 68, 68);
  text-align: center;
  margin-left: -50px;
}
.signup-main .signup-container .right-side-signup .Form .user-name, .signup-main .signup-container .right-side-signup .Form .email-age {
  display: flex;
  gap: 10px;
}
.signup-main .signup-container .right-side-signup .Form label {
  font-family: "Lato", Arial, sans-serif;
  font-weight: bold;
}
.signup-main .signup-container .right-side-signup .Form Input, .signup-main .signup-container .right-side-signup .Form .password-signup {
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.04);
  height: 38px;
  color: #000;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid transparent;
}
.signup-main .signup-container .right-side-signup .Form Button {
  color: #ffffff;
  background-color: #0171df;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 19px 160px;
}
.signup-main .signup-container .right-side-signup .Form Button:hover {
  background-color: #3CAE8B;
  transition: ease-in-out 0.6s;
  color: #ffffff;
}/*# sourceMappingURL=SignUpPage.css.map */