.MainPage-container{
    .HeroSection-container{
        display: flex;
        justify-content: center;
        background-color: #ffd140;
        .Info-container{
            border-radius: 10px;
            .StartingText{
                font-size: 40px;
                font-weight: bolder;
            }
            .OverallInfo{
                font-size: 20px;

            }
                   
            
        }
    }
}