
.login-Main {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  

  .login-container{
    margin-top:20px;
    max-width: 100%;
    display: flex;
    box-shadow: 10px 10px 20px;
   
    

    .left-side-login{
      width: 50%;
      padding:20px;
      background-color:#ffffff;

      .left-btn{
        width:20px;
        height:20px;
      }
      .top-side-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:25px;
        .login-capture {
          font-family: "Lato", Arial, sans-serif;
          font-weight: bolder;
          font-size: 25px;
          color: rgb(70, 68, 68);
          text-align: center;
          margin-left:-40px;
          
        };
  
        .login-logos{
          
          display: flex;
          gap: 12px;
          margin-left:-30px;
          .login-logo-link{
            padding-bottom:5px;
            .login-logo{
              padding:15px;
              border:1px solid gray;
              border-radius: 50px;
              width: 20px;
              height: 20px;
            }
          }
        };
        .use-account{
          font-size:15px;
          margin-left: -20px;
          color:rgba(74, 71, 71, 0.7);
          
        }

      }
     

      
      .form {
        display: flex;
        flex-direction: column;
        gap:10px;
        
  
        label {
          font-family: "Lato", Arial, sans-serif;
          font-weight: bold;
          gap: 10px;
          

         
          
        }
        .input{
          padding:0px 10px;
          background-color: rgba(0, 0, 0, 0.05);
          height: 38px;
          color: #000;
          font-size: 14px;
          border-radius: 50px;
          border: 1px solid transparent;
        }
        .login-btn {
          color: #ffffff;
          background-color: #0171df;
          border: 1px solid transparent;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          
        }
        .login-btn:hover {
          background-color:#3CAE8B;
          transition: ease-in-out 0.6s;
          color:#ffffff;
        }

        .forgot-password{
          text-decoration: none;
          color:rgba(74, 71, 71, 0.8);
          

        }
      
      }
    }
    .right-side-login{
      position: relative;
      width: 50%;
     
    
      .login-bg{
        width: 100%;
        height: 690px;
      
        
        
        
      }

      .overlay {
        position: absolute;
        bottom: 100%;
        background-color:#3CAE8B;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;

        display: flex;
        justify-content: center;
        align-items: center;

        .right-side-details{
          padding: 30px;
          font-family: "Lato", Arial, sans-serif;
          text-align: center;
         
          .hello-friend{
            font-size:35px;
            color: #ffffff;
            font-weight: bolder;
            font-family: "Lato", Arial, sans-serif;
           
            
          }
          .no-account{
            font-size: 30px;
            color: #ffffff;
            opacity: 0.7;

          }
          .enter-detail{
            font-size: 20px;
            color: #ffffff;
            opacity: 0.8;

          }
          .sign-up-btn{
            
            padding:10px 30px;
            background-color: #3CAE8B;
            border:1px solid white;
            border-radius: 40px;
            color: #ffffff;
          }
          .sign-up-btn:hover{
            background-color: #0171df;
          }

        }

      }
    }

    .right-side-login:hover .overlay{
      bottom:0;
      height: 100%;
    }
  }
  
}
