.Header-container {
  height: 50px;
  background-color: #0171df;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 0px 25px;
  span {
    font-size: 20px;
  }
  .TravelAgent-container{
    display: flex;
    gap: 10px;
  }
  .Button-container {
    display: flex;
    gap: 10px;
    button {
      width: 80px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      padding: 8px;
    }
    button:hover {
      background-color: #ffd140;
    }
  }
}
