.hero-page-container {
    width: 100%;
    height: 100%;
  .Header-container {
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 0px 25px;
    span {
      font-size: 21px;
    }
    .TravelAgent-container {
      display: flex;
      align-items: center;
      img {
        width: 100px;
        height: 60px;
      }
      span{
      font-size: 40px;
        color: #ffffff;
      }
    }
    .Button-container {
      display: flex;
      gap: 10px;
      button {
        width: 80px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        padding: 8px;
      }
      button:hover {
        background-color: #ffd140;
        transition: 0.5s ease-out;
      }
    }
  }

  .HeroSection-container {
    display: flex;
    justify-content: center;
    .Info-container {
      border-radius: 10px;
      color: #ffd140;
      .StartingText {
        font-size: 40px;
        font-weight: bolder;
      }
      .OverallInfo {
        font-size: 20px;
        font-weight: bolder;
      }
    }
  }
}
