.footer-main {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 800px;
}
.footer-main .top-of-footer {
  width: 100%;
  height: 300px;
  background-color: #ebd574;
  opacity: 0.9;
  position: relative;
  top: -63px;
}
.footer-main .top-of-footer .footer-top-image {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
.footer-main .top-of-footer .back-to-top {
  position: relative;
  bottom: 280px;
  left: 700px;
  display: flex;
  flex-direction: column;
}
.footer-main .top-of-footer .back-to-top .backto-top-image {
  width: 50px;
  height: 50px;
}
.footer-main .top-of-footer .back-to-top .back-to-top-p {
  font-size: 15px;
  margin-top: -10px;
  margin-left: -8px;
}
.footer-main .bottom-of-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 500px;
  background-color: #003926;
  border-radius: 50%;
  transform-origin: top;
  transform: translateX(-50%) scale(4);
}
.footer-main .bottom-of-footer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  bottom: 63px;
}
.footer-main .bottom-of-footer .content-of-bottom-footer {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 90px 40px;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .header-of-bottom-footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: "Lato";
  font-weight: bold;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .header-of-bottom-footer .logo-part-footer {
  font-size: 30px;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .header-of-bottom-footer .logo-part-footer .airplane-logo {
  width: 40px;
  height: 40px;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .header-of-bottom-footer .info-footer {
  font-size: 20px;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .header-of-bottom-footer .get-in-touch-contact-us {
  display: flex;
  gap: 20px;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .header-of-bottom-footer .get-in-touch-contact-us .get-in-touch {
  font-size: 25px;
  font-family: "Lato" sans-serif;
  font-weight: bolder;
  margin-top: 5px;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .header-of-bottom-footer .get-in-touch-contact-us .contact-us-footer {
  border: 1px solid orange;
  border-radius: 50px;
  padding: 5px 30px;
  background-color: yellow;
  color: #003926;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .header-of-bottom-footer .get-in-touch-contact-us .contact-us-footer:hover {
  background-color: orange;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .middle-of-bottom-footer {
  display: flex;
  justify-content: space-around;
  margin-left: -100px;
  margin-right: 100px;
  font-family: "Lato";
  font-weight: bolder;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .middle-of-bottom-footer .home-part-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-main .bottom-of-footer .content-of-bottom-footer .middle-of-bottom-footer a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}/*# sourceMappingURL=Footer.css.map */