custom-marker {
  position: relative;
}
.inside-marker {
  position: absolute;
  top: 30%;
  left: 50%;
  background: red;
  color: black;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  text-align: center;

  .circle-side {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: orange;
    color: white;
  }

  .city-name {
    font-weight: bold;
  }
}

.map {
  height: 100vh;
  width: 100%;
  .ticket{
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    z-index: 1000;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: darkgrey lightgrey; /* Firefox */
    
      &::-webkit-scrollbar {
        width: 10px;
      }
    
      &::-webkit-scrollbar-track {
        background: lightgrey;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 5px;
      }
    
      
    

  }
  .tabs{
    position: absolute;
    top: 20px;
    left: 220px;
    padding: 10px;
    z-index: 1000;
  
  }
  .line{
    color: #888;
    border-bottom: 1px solid #b6b6bc;
    position: relative;
    
    
  } 
  
  .line::after{
    display: block;
    content: "";
    width: 6px;
    height: 0;
    border-top: 1px solid #b6b6bc;
    position: absolute;
    right: 0;
    bottom: -3px;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);  
    box-sizing: inherit;

  }
  

 
}


.leaflet-container {
  height: 100vh;
}
