custom-marker {
  position: relative;
}
.inside-marker {
  position: absolute;
  top: 30%;
  left: 50%;
  background: red;
  color: black;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  text-align: center;

  .circle-side {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: orange;
    color: white;
  }

  .city-name {
    font-weight: bold;
  }
}

.map {
  height: 100vh;
  width: 100%;
}

.leaflet-container {
  height: 100vh;
}
