.carousel-page::before{
    content:'';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 500px;
    background-color: #ebd574;
    
    border-radius: 50%;
    transform-origin: top;
    transform: translateX(-50%) scale(4);
    

}


.carousel-page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top:-30px;

    .header-of-carousel{
        display: flex;
        justify-content: space-around;
        top: 300px;
    }
  
    .carousel-wrapper {
        position: relative;
        z-index: 1;
        margin-right: auto;
        margin-left: auto;
        max-width: 600px;
        height: 600px;
        margin-top: 30px;
    

    .main-carousel {
        border-radius: 3%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        max-width: 600px;
        height: 630px;
        .city-card {
        font-weight: bolder;
        color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        .description-of-places {
            font-size: x-large;
        }
        .carousel-image-container {
            display: flex;
            justify-content: center;
            img {
            margin-top: 5px;
            width: 550px;
            height: 350px;
            border-radius: 5%;
            }
        }
        .about-city-container {
            color:#ffffff;
            align-content: center;
            flex-wrap: wrap;
            width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: larger;
            .place-name {
            margin-top: 5px;
            margin-left: 10px;
            font-size: xx-large;
            }
            .city-properties {
            margin-top: 0px;
            margin-left: 10px;
            }
        }
        }
    }
    }
}